<div class="additional-item" data-productid="<%=productId %>"  data-unitflag="<%=unitflag %>">
    <div class="additional-name">
        <span class="additional-name-span"><%=additionalName %></span>
        <div class="additional-del" data-insured-type="<%=insType %>"></div>
    </div>
    <div class="insured-property" >
        <div class="insured-property-item">
            <span>保费：</span>
            <input type="number" class="property-input insured-premium" max="999" min="0"/>
        </div>
        <div class="insured-property-item">
            <span>交费期限：</span>
            <select name="old" class="property-input property-select payment-period">
                <%=paymentPeriodHtml %>
            </select>
        </div>
        <div class="insured-property-item">
            <span>保障期限：</span>
            <select name="old" class="property-input property-select guarantee-period">
                <%=guaranteePeriodHtml %>
            </select>
        </div>
    </div>
</div>