<div class="additional-item" data-productid="<%=productId %>"  data-unitflag="<%=unitflag %>" data-annuity="<%=isAnnuity%>">
    <div class="additional-name">
        <span class="additional-name-span"><%=additionalName %></span>
        <div class="additional-del" data-insured-type="<%=insType %>"></div>
    </div>
    <div class="insured-property" <%=showProperty %>>
        <div class="insured-property-item">
            <span>档次</span>
            <select name="old" class="property-input property-select insured-benefitlevel">
                <%=benefitLevelHtml %>
            </select>
        </div>
        <div class="insured-property-item">
            <span>份数：</span>
            <input type="number" class="property-input insured-unit"/>
        </div>
        <div class="insured-property-item">
            <span>交费期间：</span>
            <select name="old" class="property-input property-select payment-period">
                <%=paymentPeriodHtml %>
            </select>
        </div>
        <div class="insured-property-item">
            <span>保障期限：</span>
            <select name="old" class="property-input property-select guarantee-period">
                <%=guaranteePeriodHtml %>
            </select>
        </div>
        <div class="insured-property-item" <%=showAnnuity %>>
            <span>年金领取：</span>
            <select name="old" class="property-input property-select annuity">
                <%=annuityHtml %>
            </select>
        </div>
    </div>
</div>