<div id="top-title">
    <div id="top-title-left"></div>
    <div id="top-title-center">制作计划书</div>
</div>
<div id="make-plan-main">
<div id="make-plane-title" style='background: url("images/temp/hx-logo.png") no-repeat right 30px center #fff;'>华夏健康人生计划</div>
<div id="make-plan-insured" class="make-plan-insured first-insured">
    <div class="insured-title">
        <span>被保人信息</span>
        <div class="import">
            从客户列表导入&nbsp;
        </div>
    </div>
    <div class="insured-property"></div>
</div>
<div id="make-plan-insured-2" class="make-plan-insured second-insured">
    <div class="insured-title">
        <span>第二被保人信息</span>
        <div class="import">
            从客户列表导入&nbsp;
        </div>
    </div>
    <div class="insured-property"></div>
</div>
<div id="make-plan-policy-holder" class="make-plan-insured policy-holder">
    <div class="insured-title">
        <span>投保人信息</span>
    </div>
    <div class="insured-property"></div>
</div>
    <div id="make-plan-select" class="make-plan-insured">
        <div class="insured-title">
            <span id="planTitle">投保选择</span>
        </div>
        <!--插入投保主险项组合-->
    </div>
    <!--附加险-->
    <div id="make-plan-additional" class="make-plan-insured">
        <div class="insured-title">
            <span>附加险</span>
        </div>
        <!--插入附加险组合-->
    </div>
    <div id="make-plan-add-additional" class="make-plan-insured">
        <img src="images/plan/icon10.png" alt="" class="title-img"/>
        <span class="title-span">添加附加险</span>
    </div>
    <!--首年保费-->
    <div id="make-plan-first-year" class="make-plan-insured">
        <div class="insured-title">
            <span>首年保费</span>
            <span id="totalFirstYearPremium">0元</span>
            <input id="btnTotalFirstYear" type="button" value="计算保费"/>
        </div>
        <div class="first-year-list">
            <!--插入保费计算结果-->
            <div class="first-year-stop first-year-tip"></div>
        </div>
    </div>
    <!--增值服务-->
    <div id="make-plan-increment" class="make-plan-insured">
        <div class="insured-title">
            <div class="increment-check"></div>
            <span>增值服务</span>
            <div class="title-stop accordion-tip"></div>
        </div>
        <div class="accordion-list">
        </div>
    </div>
    <!--保险理念-->
    <div id="make-plan-idea" class="make-plan-insured">
        <div class="insured-title">
            <span>保险理念</span>
            <div class="title-stop accordion-tip"></div>
        </div>
        <div class="accordion-list">
        </div>
    </div>
    <!--留言-->
    <div id="make-plan-comment" class="make-plan-insured">
        <div class="insured-title">
            <div class="increment-check"></div>
            <span>留言</span>
        </div>
        <div class="comment-main">
            <textarea name="comment" id="comment"></textarea>
        </div>
    </div>
    <!--敬呈-->
    <div id="make-plan-send" class="make-plan-insured">
        <span class="send-span">该计划书敬呈</span>
        <input type="text" class="send-input"/>
        <select name="send-sex" id="send-sex" class="send-sex">
            <option value="0">先生</option>
            <option value="1">女士</option>
        </select>
    </div>
    <!--生成计划书-->
    <div id="make-plan-btn">
        <img src="images/plan/icon11.png" class="btn-img"/>
        <span class="btn-span">生成计划书</span>
    </div>
</div>