<div class="main-insured-item" data-productid="<%=productId %>" data-unitflag="<%=unitflag %>">
    <div class="additional-name main-insured-name" <%=displayClass %>>
        <span class="additional-name-span"><%=mainPlanName %></span>
        <div class="additional-del" data-insured-type="<%=insType %>"></div>
    </div>
    <div class="insured-property">
        <div class="insured-property-item">
            <span>档次</span>
            <select name="old" class="property-input property-select insured-benefitlevel">
                <%=benefitLevelHtml %>
            </select>
        </div>
        <div class="insured-property-item">
            <span>交费期限：</span>
            <select name="old" class="property-input property-select payment-period">
                <%=paymentPeriodHtml %>
            </select>
        </div>
        <div class="insured-property-item">
            <span>保障期限：</span>
            <select name="old" class="property-input property-select guarantee-period">
                <%=guaranteePeriodHtml %>
            </select>
        </div>
    </div>
    <div class="insured-duty">
        <div class="duty-title"><img src="images/plan/icon08.png" alt="" class="title-img"/><span class="title-span">可选责任</span>
            <div class="duty-tip duty-open"></div>
        </div>
        <div class="duty-list">
            <%=dutyHtml %>
        </div>
    </div>
</div>