<div class="top-title">
    <div class="top-title-left"></div>
    <div class="top-title-center">详细说明</div>
</div>
<div class="attach-details-title">华夏附加住院费用补偿医疗保险（2014）</div>
<div id="attach-details-main">
    <div class="attach-pull-item">
        <div class="attach-item-title ">
            <span>全残赔付已交保费</span>
            <span class="pull-icon-big"></span>
        </div>
        <div class="attach-pull-content">
            未满18周岁，因意外或者90天等待期后因非意外导致身故，
            给付1.5倍保费，或者90天等待期内因非意外导致身故，
            给付已交保费；18周岁后，
            因意外或者90天等待期后因非意外导致身故，
            给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
        </div>
    </div>
    <div class="attach-next-item" data-type="100002">
        <span data-type="100002">华夏附加投保人豁免保费重大疾病保险</span>
        <span class="pull-icon-next-big" data-type="100002"></span>
    </div>
    <div class="attach-pull-item">
        <div class="attach-item-title">
            <span>全残赔付已交保费</span>
            <span class="pull-icon-big"></span>
        </div>
        <div class="attach-pull-content">
            未满18周岁，因意外或者90天等待期后因非意外导致身故，
            给付1.5倍保费，或者90天等待期内因非意外导致身故，
            给付已交保费；18周岁后，
            因意外或者90天等待期后因非意外导致身故，
            给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
        </div>
    </div>
    <div class="attach-pull-item">
        <div class="attach-item-title ">
            <span>全残赔付已交保费</span>
            <span class="pull-icon-big"></span>
        </div>
        <div class="attach-pull-content">
            未满18周岁，因意外或者90天等待期后因非意外导致身故，
            给付1.5倍保费，或者90天等待期内因非意外导致身故，
            给付已交保费；18周岁后，
            因意外或者90天等待期后因非意外导致身故，
            给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
        </div>
    </div>
    <div class="attach-next-item" data-type="100002">
        <span data-type="100002">投核保规则</span>
        <span class="pull-icon-next-big" data-type="100002"></span>
    </div>
    <div class="attach-next-item" data-type="100002">
        <span data-type="100002">详细条款</span>
        <span class="pull-icon-next-big" data-type="100002"></span>
    </div>
</div>