<div class="top-title">
    <div class="top-title-left button"></div>
    <div class="top-title-center">详细说明</div>
</div>
<div class="attach-details-title"></div>
<div id="attach-details-main">
    <div class="attach-pull-item">
        <div class="attach-item-title bxzr-item">
            <span>保险责任</span>
            <span class="pull-icon-big button"></span>
        </div>
        <div class="attach-pull-content bxzr-txt"></div>
    </div>

    <div class="attach-next-item" data-type="rule">
        <span>投核保规则</span>
        <span class="pull-icon-next-big button" data-type="rule"></span>
    </div>
    <!--<div class="attach-pull-item">-->
        <!--<div class="attach-item-title">-->
            <!--<span>投核保规则</span>-->
            <!--<span class="pull-icon-big"></span>-->
        <!--</div>-->
        <!--<div class="attach-pull-content thbgz-txt"></div>-->
    <!--</div>-->
    <div class="attach-pull-item">
        <div class="attach-item-title bzxq-item">
            <span>病种详情</span>
            <span class="pull-icon-big button"></span>
        </div>
        <div class="attach-pull-content bzxq-txt"></div>
    </div>
    <!--<div class="attach-pull-item">-->
        <!--<div class="attach-item-title">-->
            <!--<span>详细条款</span>-->
            <!--<span class="pull-icon-big"></span>-->
        <!--</div>-->
        <!--<div class="attach-pull-content xxtk-txt"></div>-->
    <!--</div>-->
     <div class="attach-next-item" data-type="alsm" id="case-explain-next">
        <span>案例说明</span>
        <span class="pull-icon-next-big button" data-type="alsm"></span>
    </div>
    <div class="attach-next-item" data-type="tk">
        <span>详细条款</span>
        <span class="pull-icon-next-big button" data-type="tk"></span>
    </div>
</div>