<div class="top-title">
    <div class="top-title-left"></div>
    <div class="top-title-center">产品详情</div>
    <div class="top-title-right-2"></div>
    <div class="top-title-right-1"></div>
</div>
<div id="product-details-main">
    <!--投保信息-->
    <div class="product-details-info">
        <div class="product-company-logo"></div>
        <div class="details-info-top"></div>
        <span class="product-details-pv"></span>
    </div>
    <!--投保条件-->
    <div class="product-insure-condition">
        <div class="insure-condition-title">投保条件</div>
        <div class="insure-condition-content">
            <div id="insure-age" class="insure-condition-common-div">
                <span>投保年龄:</span>
                <span></span>
            </div>
            <div id="limit-coverage" class="insure-condition-common-div">
                <span>最低保额:</span>
                <span></span>
            </div>
            <div id="payment-range" class="insure-condition-common-div">
                <span>交费期间:</span>
                <span></span>
            </div>
            <div id="safeguard-range" class="insure-condition-common-div">
                <span>保障期间:</span>
                <span></span>
            </div>
        </div>
    </div>
    <!--保障概览-->
    <div class="product-insure-summary">
        <div class="insure-summary-title">保障概览</div>
        <div class="insure-summary-content"></div>
    </div>
    <!--产品特色-->
    <div class="product-insure-feature">
        <div class="insure-feature-title">产品特色</div>
        <div class="insure-feature-content"></div>
    </div>
    <div class="product-insure-duty">
        <div class="insure-duty-title">
            <span>保险责任</span>
            <span class="pull-icon-big"></span>
        </div>
        <div class="insure-duty-content"></div>
    </div>
    <!--本组合计划是由以下产品组成-->
    <div class="product-insure-plan">
        <div class="insure-plan-title">
            <span>本组合计划是由以下产品组成</span>
            <span class="pull-icon-big"></span>
        </div>
        <div class="insure-plan-content"></div>
    </div>
    <!--推荐附加险-->
    <div class="product-insure-subjoin">
        <div class="insure-subjoin-title">
            <span>推荐附加险</span>
            <span class="pull-icon-big"></span>
        </div>
        <div class="insure-subjoin-content"></div>
    </div>
</div>
<div class="product-insure-make">
    <span>制作计划书</span>
</div>
