<div class="top-title">
    <div class="top-title-left"></div>
    <div class="top-title-center">产品详情</div>
    <div class="top-title-right-2"></div>
    <div class="top-title-right-1"></div>
</div>
<div id="product-details-main">
    <!----投保信息----->
    <div class="product-details-info">
        <div class="details-info-top">华夏健康人生计划</div>
        <span class="product-details-pv">256</span>
    </div>
    <!----投保条件----->
    <div class="product-insure-condition">
        <div class="insure-condition-title">投保条件</div>
        <div class="insure-condition-content">
            <div id="insure-age" class="insure-condition-common-div">
                <span>投保年龄：</span>
                <span>28天-60周岁</span>
            </div>
            <div id="limit-coverage" class="insure-condition-common-div">
                <span>最低保额：</span>
                <span>10,0000元</span>
            </div>
            <div id="payment-range" class="insure-condition-common-div">
                <span>交费期间：</span>
                <span>1/5/15/20年交</span>
            </div>
            <div id="safeguard-range" class="insure-condition-common-div">
                <span>保障期间：</span>
                <span>至60岁，70年，20年，30年，终身</span>
            </div>
        </div>
    </div>
    <!----保障概览----->
    <div class="product-insure-summary">
        <div class="insure-summary-title">保障概览</div>
        <div class="insure-summary-content">
            <div class="insure-summary-item">终生寿险</div>
            <div class="insure-summary-item">单次重疾</div>
            <div class="insure-summary-item">多次轻症</div>
            <div class="insure-summary-item">投保豁免</div>
            <div class="insure-summary-item">被保豁免</div>
            <div class="insure-summary-item">重疾豁免</div>
            <div class="insure-summary-item">轻症豁免</div>
            <div class="clear"></div>   <!---清除浮动-->
        </div>
    </div>
    <!----产品特色----->
    <div class="product-insure-feature">
        <div class="insure-feature-title">产品特色</div>
        <div class="insure-feature-content">
            <div class="insure-feature-item">
                <img src="./images/insurance/range.png"/>
                <span>高保障范围：五项责任全面保障</span>
            </div>
            <div class="insure-feature-item">
                <img  src="./images/insurance/long.png"/>
                <span>长期保障期限：各项责任统统保障终身</span>
            </div>
            <div class="insure-feature-item">
                <img src="./images/insurance/limit.png"/>
                <span>高保障额度：责任额外给付</span>
            </div>
        </div>
    </div>
    <div class="product-insure-duty">
        <div class="insure-duty-title on">
            <span>保险责任</span>
            <span class="pull-icon-big"></span>
        </div>
        <div class="insure-duty-content">
            <div class="insure-duty-item">
                <div class="duty-item-title on">
                    <span>身故赔付已交保费</span>
                    <span class="pull-icon-small"></span>
                </div>
                <div class="duty-item-content">
                    未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                    18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                </div>
            </div>
            <div class="insure-duty-item">
                <div class="duty-item-title">
                    <span>全残赔付已交保费</span>
                    <span class="pull-icon-small"></span>
                </div>
                <div class="duty-item-content">
                    未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                    18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                </div>
            </div>
            <div class="insure-duty-item">
                <div class="duty-item-title">
                    <span>33种轻症疾病额外赔付保险金20%，最多5次</span>
                    <span class="pull-icon-small"></span>
                </div>
                <div class="duty-item-content">
                    未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                    18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                </div>
            </div>
            <div class="insure-duty-item">
                <div class="duty-item-title">
                    <span>77种重疾赔付保险金</span>
                    <span class="pull-icon-small"></span>
                </div>
                <div class="duty-item-content">
                    未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                    18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                </div>
            </div>
            <div class="insure-duty-item">
                <div class="duty-item-title">
                    <span>疾病终末期赔付已交保费</span>
                    <span class="pull-icon-small"></span>
                </div>
                <div class="duty-item-content">
                    未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                    18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                </div>
            </div>
            <div class="insure-duty-item">
                <div class="duty-item-title">
                    <span>轻疾病豁免保费</span>
                    <span class="pull-icon-small"></span>
                </div>
                <div class="duty-item-content">
                    未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                    18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                </div>
            </div>
            <div class="insure-duty-item">
                <div class="duty-item-title">
                    <span>投保人患77种重疾豁免后期保险费</span>
                    <span class="pull-icon-small"></span>
                </div>
                <div class="duty-item-content">
                    未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                    18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                </div>
            </div>
            <div class="insure-duty-item">
                <div class="duty-item-title">
                    <span>投保人患33种轻疾豁免后期保险费</span>
                    <span class="pull-icon-small"></span>
                </div>
                <div class="duty-item-content">
                    未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                    18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                </div>
            </div>
            <div class="insure-duty-item">
                <div class="duty-item-title">
                    <span>投保人身故豁免后期保险费</span>
                    <span class="pull-icon-small"></span>
                </div>
                <div class="duty-item-content">
                    未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                    18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                </div>
            </div>
            <div class="insure-duty-item">
                <div class="duty-item-title">
                    <span>投保人全残豁免后期保险费</span>
                    <span class="pull-icon-small"></span>
                </div>
                <div class="duty-item-content">
                    未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                    18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                </div>
            </div>
        </div>
    </div>
    <!----本组合计划是由以下产品组成----->
    <div class="product-insure-plan">
        <div class="insure-plan-title on">
            <span>本组合计划是由以下产品组成</span>
            <span class="pull-icon-big"></span>
        </div>
        <div class="insure-plan-content">
            <div class="insure-plan-item" data-type="plan">
                <span data-type="plan">华夏健康人生重大疾病保险</span>
                <span class="pull-icon-next" data-type="plan"></span>
            </div>
            <div class="insure-plan-item" data-type="plan">
                <span data-type="plan">华夏附加投保人豁免保费重大疾病保险</span>
                <span class="pull-icon-next" data-type="plan"></span>
            </div>
        </div>
    </div>
    <!----推荐附加险----->
    <div class="product-insure-subjoin">
        <div class="insure-subjoin-title on">
            <span>推荐附加险</span>
            <span class="pull-icon-big"></span>
        </div>
        <div class="insure-subjoin-content">
            <div class="insure-subjoin-item" data-type="subjoin">
                <span data-type="subjoin">华夏附加住院费用补偿医疗2014</span>
                <span class="pull-icon-next" data-type="subjoin"></span>
            </div>
        </div>
    </div>
</div>
<div class="product-insure-make">
    <span>制作计划书</span>
</div>
