<div id="browse-records-title">
    <div id="browse-records-title-left"></div>
    <div id="browse-records-title-center">浏览记录</div>
    <div id="browse-records-title-right"></div>
</div>
<div id="browse-records-content">
    <!--<div id="browse-records-noting">暂无浏览记录</div>-->
    <div class="insurance-product-card">
        <div class="insurance-product-card-up">
            <div class="insurance-product-card-name"> 华夏贴心宝</div>
            <div class="insurance-product-card-look-pv">
                <div class="insurance-product-card-pv">24352543</div>
                <div class="insurance-product-card-eye"></div>
            </div>
        </div>
        <div class="insurance-product-card-down"><div class="equity-label">
                <div class="equity-label-select"></div>
                <div class="equity-label-name">被保豁免</div>
            </div><div class="equity-label">
                <div class="equity-label-select"></div>
                <div class="equity-label-name">轻症</div>
            </div><div class="equity-label">
                <div class="equity-label-select"></div>
                <div class="equity-label-name">身故</div>
            </div><div class="equity-label">
                <div class="equity-label-select"></div>
                <div class="equity-label-name">疾病终末</div>
            </div><div class="equity-label">
                <div class="equity-label-select"></div>
                <div class="equity-label-name">疾病终末</div>
            </div><div class="equity-label">
                <div class="equity-label-select"></div>
                <div class="equity-label-name">疾病终末</div>
            </div><div class="equity-label">
                <div class="equity-label-select"></div>
                <div class="equity-label-name">疾病终末</div>
            </div>
        </div>
        <div class="insurance-product-delete"> </div>
    </div>
    <div class="insurance-product-card">
        <div class="insurance-product-card-up">
        </div>
        <div class="insurance-product-card-down">

        </div>
    </div>
    <div class="insurance-product-card">
        <div class="insurance-product-card-up">

        </div>
        <div class="insurance-product-card-down">

        </div>
    </div>
</div>