<div id="browse-records-title">
    <div id="browse-records-title-left"></div>
    <div id="browse-records-title-center">浏览记录</div>
    <div id="browse-records-title-right"></div>
</div>
<div id="browse-records-content">
    <!--<div id="browse-records-noting">暂无浏览记录</div>-->
    <div class="insurance-product-card">
        <div class="insurance-product-card-up">
            <div class="insurance-product-card-name"> 华夏贴心宝</div>
            <div class="insurance-product-card-eye"></div>
            <div class="insurance-product-card-pv">123</div>
        </div>
        <div class="insurance-product-card-down">
        </div>
    </div>
    <div class="insurance-product-card">
        <div class="insurance-product-card-up">
        </div>
        <div class="insurance-product-card-down">

        </div>
    </div>
    <div class="insurance-product-card">
        <div class="insurance-product-card-up">

        </div>
        <div class="insurance-product-card-down">

        </div>
    </div>
</div>