/*添加附加险*/
#additional-container{width:100%; height:100%; position: absolute; top:0; left:0; overflow: hidden; background: #F5F5F5;}
#additional-main{width:100%; background: #ffffff; overflow: hidden;color:#666666; padding-bottom:14px;
  .additional-item{margin:14px 30px 0 30px; width:-webkit-calc(100% - 60px); height:70px; background:#FBF9FA; border-radius: 10px; line-height: 70px;  text-indent: 16px;  }
    .content{font-size: 3em;width: -webkit-calc(100% - 136px); float:left; text-overflow: ellipsis; overflow: hidden; white-space:nowrap; display: block;}
    .btnAdd{width:96px; height:45px; line-height: 45px; text-align: center;float:left; font-size: 2.6em; background: #EACDA9; border-radius: 8px; margin:12.5px 20px;}
}

/*病种详情*/
#disease-container{width:100%; height:100%; position: absolute; top:0; left:0; overflow: hidden; background: #F5F5F5;}
#disease-main{width:-webkit-calc(100% - 28px); height:-webkit-calc(100% - 85px); overflow-y: auto; margin:12px 14px; padding:30px 36px; background: #ffffff; font-size: 3em;
box-shadow: 0 5px 5px 0 rgba(231,231,231,.75);}

/*详细条款*/
#clause-container{width:100%; height:100%; position: absolute; top:0; left:0; overflow: hidden; background: #F5F5F5;
  .clause-item{margin:14px 30px 0 30px; width:-webkit-calc(100% - 60px); height:70px; background:#FBF9FA; border-radius: 10px; line-height: 70px;  text-indent: 16px;   font-size: 3em;
    text-overflow: ellipsis; overflow: hidden; white-space:nowrap; display: block;}
}
#clause-main{    background: #fff;overflow: hidden;font-size: 2.6em;margin-top: 10px;width: 100%;padding: 40px 36px 44px;line-height: 40px;
  .clause-item{margin:14px 30px 0 30px; width:-webkit-calc(100% - 60px); height:70px; background:#FBF9FA; border-radius: 10px; line-height: 70px;  text-indent: 16px;   font-size: 3em;
    text-overflow: ellipsis; overflow: hidden; white-space:nowrap; display: block;}
}
#term-search{
	position: relative;
    height: 100px;
    width: 100%;
    background: #fff;
    border-bottom: 2px solid #dddddd;
    padding: 15px 30px;
}
#term-search-text{
    height: 70px;
    width: calc(100% - 80px);
    margin: 0 auto;
    font-size: 3.0em;
    color: #a2a2a2;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    background-color: #fbf9fa;
    padding-left: 20px;
    padding-right: 55px;
}
#term-text-clear{
	display: none;
	position: absolute;
    height: 35px;
    width: 35px;
    background: url("../images/termclear.png") no-repeat center;
    top: 32px;
    right: 128px;
}
#term-search-icon{
	position: absolute;
    height: 70px;
    width: 80px;
    background: url("../images/searchIcon.png") no-repeat center;
    right: 30px;
    top: 15px;
}


/*寿险 公司简介*/
#companyIntro-container{width:100%; height:100%; position: absolute; top:0; left:0; overflow: hidden; background: #F5F5F5;}
#companyIntro-main{width:-webkit-calc(100% - 28px); height:-webkit-calc(100% - 235px); overflow-y: auto; margin:12px 14px; padding:30px 36px; background: #ffffff; font-size: 3em;
box-shadow: 0 5px 5px 0 rgba(231,231,231,.75);}
#btnCall{width:-webkit-calc(100% - 28px); height:110px;  background:#e6454a; text-align: center; color:#ffffff; border-radius: 10px; font-size: 3.4em; line-height: 110px;
    margin: 0 auto 20px auto;}