<div class="alertbackbtn regist-alert-header">
    <div class="alert_back">
        <button class="regist-alert-back" style="border:none;background:transparent;display: block;width: 100%;height: 100%;">
        </button>
    </div>

    <!--<div class="magazine-make-title">编辑微杂志</div>-->
    <!--<div class="make_save_share" id="magazine-make-share" >-->
        <!--<div></div>-->
    <!--</div>-->
</div>

<!-- <div class="regist-alert-icon"></div> -->
<img src="images/common/regist-alert/5logo.png" class="regist-alert-icon" />

<div class="app-msg-box-title"></div>
<div class="app-msg-box-content"></div>

<div class="app-msg-box-button-container">
    <button class="app-msg-box-no">取消</button>
    <button class="" style="display: none;"></button>
    <button class="app-msg-box-yes">确定</button>
</div>

<!-- <div id="weixin-alert-login" class="app-msg-box-ok"></div> -->
<img src="images/common/regist-alert/weixin_login.png" class="app-msg-box-ok" id="weixin-alert-login"/>
<!-- <div class="regist-alert-notice-login"></div> -->
<img src="images/common/regist-alert/phone_login.png" class="regist-alert-notice-login">
<img src="images/common/regist-alert/other_login_icon.png" class="other-login-icon"/>
<div class="other-login">
   <div class="qq-login">
        <div id="qq-login">
            <div>QQ登录</div>
            <img src="images/common/regist-alert/qq_login.png"/>      
        </div>
    </div>     
    <div class="sina-login">
        <div id="sina-login">
            <img src="images/common/regist-alert/sina_login.png"/>
            <div>微博登录</div>           
        </div>
    </div>
</div>
<div class="user-loging">
    <figure class="user-loging-icon">
        <img src="images/loading.svg"/>
        <figcaption>登录中</figcaption>
    </figure>
</div>

