<div id="top-title">
    <div id="top-title-left"></div>
    <div id="top-title-center">高级筛选</div>
</div>
<div id="advanceQuery-main">
    <div class="query-type1 query-type">
        <p class="title">产品类别</p>
        <div class="query-type-list">
            <div class="type-item type-item-ck">全部</div>
            <div class="type-item">健康</div>
            <div class="type-item">重疾</div>
            <div class="type-item type-item-ck">理财</div>
            <div class="type-item">示例保费从高到低</div>
            <div class="type-item type-item-ck">示例保费从低到高</div>
        </div>
    </div>
    <div class="query-type2 query-type">
        <p class="title">保障概览</p>
        <div class="query-type-list">
            <div class="type-item type-item-ck">全部</div>
            <div class="type-item">终身寿险</div>
            <div class="type-item">定期寿险</div>
            <div class="type-item type-item-ck">多次重疾</div>
            <div class="type-item">多次轻症</div>
            <div class="type-item type-item-ck">单次轻症</div>
            <div class="type-item">投保豁免</div>
            <div class="type-item">被保豁免</div>
        </div>
    </div>
    <div class="query-type3 query-type">
        <p class="title">保险公司</p>
        <div class="query-type-list">
            <div class="type-item type-item-ck">全部</div>
            <div class="type-item">平安</div>
            <div class="type-item">华厦</div>
            <div class="type-item type-item-ck">泰康</div>
            <div class="type-item">中英</div>
            <div class="type-item type-item-ck">安联</div>
            <div class="type-item">君康</div>
            <div class="type-item">大地</div>
        </div>
    </div>
    <div id="btns">
        <input type="button" class="btnItem" value="重置" id="btnReset"/>
        <input type="button" class="btnItem" value="确定" id="btnOk"/>
    </div>
</div>