<div id="top-title">
    <div id="top-title-left" class="button"></div>
    <div id="top-title-center">高级筛选</div>
</div>
<div id="advanceQuery-main">
    <div class="query-type1 query-type">
        <p class="title">产品类别</p>
        <div id="product-type-list" class="query-type-list">
            <div id="product-type-inner-list"></div>
            <div id="product-type-inner-sample-premium">
                <div class="type-item-sample-premium-desc type-sample-premium" data-id="-1">示例保费从高到低</div>
                <div class="type-item-sample-premium-asc type-sample-premium" data-id="-100">示例保费从低到高</div>
            </div>
        </div>
    </div>
    <div id="" class="query-type2 query-type">
        <p class="title">保障概览</p>
        <div id="rightsInfo-list" class="query-type-list">
            <div id="rightsInfo-inner-list"></div>
        </div>
    </div>
    <div class="query-type3 query-type">
        <p class="title">保险公司</p>
        <div id="company-list" class="query-type-list">
            <div id="company-inner-list"></div>
        </div>
    </div>
    <div id="btns">
        <input type="button" class="btnItem" value="重置" id="btnReset"/>
        <input type="button" class="btnItem" value="确定" id="btnOk"/>
    </div>
</div>