<div id="top-title">
    <div id="top-title-left-2"></div>
    <div id="top-title-search">
        <div class="search-bg">
            <input type="text" class="search-key" placeholder="">
            <div class="search-btn"></div>
        </div>
    </div>
</div>
<div id="history-main">
    <div id="hot-word-con">
        <p class="title">热搜词</p>
        <div id="hot-word-list">

        </div>
    </div>
    <div id="history-con">
        <p class="title">历史记录</p>
        <div id="history-list"></div>
        <div id="clear-history">清空搜索记录</div>
    </div>
</div>