<div id="top-title">
    <div id="top-title-left-2"></div>
    <div id="top-title-search">
        <div class="search-bg">
            <input type="text" class="search-key" placeholder="华夏常青树推广费提高5%">
            <div class="search-btn"></div>
        </div>
    </div>
</div>
<div id="history-main">
    <div id="hot-word-con">
        <p class="title">热搜词</p>
        <div id="hot-word-list">
            <div class="hot-word-item">贴心保</div>
            <div class="hot-word-item">终身寿</div>
            <div class="hot-word-item">高分红</div>
            <div class="hot-word-item">终身寿</div>
            <div class="hot-word-item">守护一生，幸福一生</div>
            <div class="hot-word-item">健康身心，全家幸福</div>
            <div class="hot-word-item">终身寿</div>
            <div class="hot-word-item">高分红</div>
            <div class="hot-word-item">终身寿</div>
            <div class="hot-word-item">守护一生，幸福一生</div>
            <div class="hot-word-item">健康身心，全家幸福</div>
        </div>
    </div>
    <div id="history-con">
        <p class="title">历史记录</p>
        <div id="history-list">
            <div class="history-item">
                <div class="history-item-name">常青树</div>
                <img class="history-item-del" src="images/delete2.png" alt="">         
            </div>
            <div class="history-item">
                <div class="history-item-name">中华人民共和国中华人民共和国中华人民共和国中华人民共和国常青树常青树</div>
                <img class="history-item-del" src="images/delete2.png" alt="">         
            </div>
            <div class="history-item">
                <div class="history-item-name">常青树</div>
                <img class="history-item-del" src="images/delete2.png" alt="">         
            </div>
            <div class="history-item">
                <div class="history-item-name">常青树</div>
                <img class="history-item-del" src="images/delete2.png" alt="">         
            </div>
        </div>
        <div id="clear-history">清空搜索记录</div>
    </div>
</div>