<div class="top-title">
    <div class="top-title-left"></div>
    <div class="top-title-center">我的收藏</div>
    <div class="top-title-right"></div>
</div>
<div id="personal-collect-main">
    <div class="personal-collect-item">
        <div class="personal-collect-item-title" >华夏贴心宝</div>
        <div class="personal-collect-item-content" >
            <p>年龄：<span>28天-60周岁</span></p>
            <p>保障期间：<span>终身</span></p>
            <div class="item-feature">被保豁免</div>
            <div class="item-feature">轻症</div>
            <div class="item-feature">身故</div>
            <div class="item-feature">疾病终身</div>
        </div>
        <div class="personal-collect-delect" data-id="1222"></div>
    </div>
    <div class="personal-collect-item">
        <div class="personal-collect-item-title" >华夏贴心宝</div>
        <div class="personal-collect-item-content" >
            <p>年龄：<span>28天-60周岁</span></p>
            <p>保障期间：<span>终身</span></p>
            <div class="item-feature">被保豁免</div>
            <div class="item-feature">轻症</div>
            <div class="item-feature">身故</div>
            <div class="item-feature">疾病终身</div>
        </div>
        <div class="personal-collect-delect" data-id="1222"></div>
    </div>
    <div class="personal-collect-item">
        <div class="personal-collect-item-title" >华夏贴心宝</div>
        <div class="personal-collect-item-content" >
            <p>年龄：<span>28天-60周岁</span></p>
            <p>保障期间：<span>终身</span></p>
            <div class="item-feature">被保豁免</div>
            <div class="item-feature">轻症</div>
            <div class="item-feature">身故</div>
            <div class="item-feature">疾病终身</div>
        </div>
        <div class="personal-collect-delect" data-id="1222"></div>
    </div>
    <div class="personal-collect-item">
        <div class="personal-collect-item-title" >华夏贴心宝</div>
        <div class="personal-collect-item-content" >
            <p>年龄：<span>28天-60周岁</span></p>
            <p>保障期间：<span>终身</span></p>
            <div class="item-feature">被保豁免</div>
            <div class="item-feature">轻症</div>
            <div class="item-feature">身故</div>
            <div class="item-feature">疾病终身</div>
        </div>
        <div class="personal-collect-delect" data-id="1222"></div>
    </div>
    <div class="personal-collect-item">
        <div class="personal-collect-item-title" >华夏贴心宝</div>
        <div class="personal-collect-item-content" >
            <p>年龄：<span>28天-60周岁</span></p>
            <p>保障期间：<span>终身</span></p>
            <div class="item-feature">被保豁免</div>
            <div class="item-feature">轻症</div>
            <div class="item-feature">身故</div>
            <div class="item-feature">疾病终身</div>
        </div>
        <div class="personal-collect-delect" data-id="1222"></div>
    </div>
</div>
