<div id="default-sort-layout-float">
    <div class="default-sort-content">
        <div class="default-sort-item default-sort-item-selected">推荐排序</div>
        <div class="default-sort-item">浏览量</div>
        <div class="default-sort-item">上架时间</div>
    </div>
</div>
<div id="top-title">
    <div id="top-title-left"></div>
    <div id="top-title-center">寿险</div>
</div>
<div id="insurance-search">
    <input id="search-text" type="text"/>
    <div id="search-icon"></div>
</div>
<div id="screening-conditions">
    <div id="search-default-sort" class="screening-condition">
        <div class="screening-condition-name">默认排序</div>
        <div class="search-arrow"></div>
    </div>
    <div id="search-insurance-company" class="screening-condition">
        <div class="screening-condition-name">保险公司</div>
        <div class="search-arrow"></div>
    </div>
    <div id="search-advanced-screening" class="screening-condition">
        <div class="screening-condition-name">高级筛选</div>
        <div class="search-arrow"></div>
    </div>
</div>
<div id="life-insurance-content">
    <div class="life-insurance-card">
        <div class="life-insurance-name">
            <div class="life-insurance-flag life-insurance-label-1"></div>
            <div class="life-insurance-flag life-insurance-label-2"></div>
            <div class="life-insurance-flag life-insurance-label-3"></div>
            <div class="life-insurance-name-title">华夏健康人生计划</div>
        </div>
        <div class="life-insurance-label">
            <div class="life-insurance-label-name">年龄：</div>
            <div class="life-insurance-label-message">28天-60周岁</div>
        </div>
        <div class="life-insurance-label">
            <div class="life-insurance-label-name">保障期间：</div>
            <div class="life-insurance-label-message">终身</div>
        </div>
        <div class="life-insurance-equity-label"><div class="equity-label">
                <div class="equity-label-select"></div>
                <div class="equity-label-name">终身寿险</div>
            </div><div class="equity-label">
                <div class="equity-label-select"></div>
                <div class="equity-label-name">单次重病</div>
            </div><div class="equity-label">
                <div class="equity-label-select"></div>
                <div class="equity-label-name">多次轻症</div>
            </div><div class="equity-label">
                <div class="equity-label-select"></div>
                <div class="equity-label-name">投保豁免</div>
            </div><div class="equity-label">
                <div class="equity-label-select"></div>
                <div class="equity-label-name">被保豁免</div>
            </div><div class="equity-label">
                <div class="equity-label-select"></div>
                <div class="equity-label-name">重疾豁免</div>
            </div><div class="equity-label">
                <div class="equity-label-select"></div>
                <div class="equity-label-name">轻症豁免</div>
            </div>
        </div>
        <div class="life-insurance-look-pv">
            <div class="insurance-product-card-look-pv">
                <div class="insurance-product-card-pv">13241</div>
                <div class="insurance-product-card-eye"></div>
            </div>
        </div>
        <!--<div class="life=insurance-message">保险责任</div>-->
        <div class="product-insure-duty">
            <div class="insure-duty-title">
                <span>保险责任</span>
                <span class="pull-icon-big"></span>
            </div>
            <div class="insure-duty-content">
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>身故赔付已交保费</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>全残赔付已交保费</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>33种轻症疾病额外赔付保险金20%，最多5次</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>77种重疾赔付保险金</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>疾病终末期赔付已交保费</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>轻疾病豁免保费</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>投保人患77种重疾豁免后期保险费</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>投保人患33种轻疾豁免后期保险费</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>投保人身故豁免后期保险费</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>投保人全残豁免后期保险费</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="life-insurance-card">
        <div class="life-insurance-name">
            <div class="life-insurance-flag life-insurance-label-1"></div>
            <div class="life-insurance-flag life-insurance-label-2"></div>
            <div class="life-insurance-flag life-insurance-label-3"></div>
            <div class="life-insurance-name-title">华夏健康人生计划</div>
        </div>
        <div class="life-insurance-label">
            <div class="life-insurance-label-name">年龄：</div>
            <div class="life-insurance-label-message">28天-60周岁</div>
        </div>
        <div class="life-insurance-label">
            <div class="life-insurance-label-name">保障期间：</div>
            <div class="life-insurance-label-message">终身</div>
        </div>
        <div class="life-insurance-equity-label"><div class="equity-label">
            <div class="equity-label-select"></div>
            <div class="equity-label-name">终身寿险</div>
        </div><div class="equity-label">
            <div class="equity-label-select"></div>
            <div class="equity-label-name">单次重病</div>
        </div><div class="equity-label">
            <div class="equity-label-select"></div>
            <div class="equity-label-name">多次轻症</div>
        </div><div class="equity-label">
            <div class="equity-label-select"></div>
            <div class="equity-label-name">投保豁免</div>
        </div><div class="equity-label">
            <div class="equity-label-select"></div>
            <div class="equity-label-name">被保豁免</div>
        </div><div class="equity-label">
            <div class="equity-label-select"></div>
            <div class="equity-label-name">重疾豁免</div>
        </div><div class="equity-label">
            <div class="equity-label-select"></div>
            <div class="equity-label-name">轻症豁免</div>
        </div>
        </div>
        <div class="life-insurance-look-pv">
            <div class="insurance-product-card-look-pv">
                <div class="insurance-product-card-pv">13241</div>
                <div class="insurance-product-card-eye"></div>
            </div>
        </div>
        <!--<div class="life=insurance-message">保险责任</div>-->
        <div class="product-insure-duty">
            <div class="insure-duty-title">
                <span>保险责任</span>
                <span class="pull-icon-big"></span>
            </div>
            <div class="insure-duty-content">
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>身故赔付已交保费</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>全残赔付已交保费</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>33种轻症疾病额外赔付保险金20%，最多5次</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>77种重疾赔付保险金</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>疾病终末期赔付已交保费</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>轻疾病豁免保费</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>投保人患77种重疾豁免后期保险费</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>投保人患33种轻疾豁免后期保险费</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>投保人身故豁免后期保险费</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>投保人全残豁免后期保险费</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="life-insurance-card">
        <div class="life-insurance-name">
            <div class="life-insurance-flag life-insurance-label-1"></div>
            <div class="life-insurance-flag life-insurance-label-2"></div>
            <div class="life-insurance-flag life-insurance-label-3"></div>
            <div class="life-insurance-name-title">华夏健康人生计划</div>
        </div>
        <div class="life-insurance-label">
            <div class="life-insurance-label-name">年龄：</div>
            <div class="life-insurance-label-message">28天-60周岁</div>
        </div>
        <div class="life-insurance-label">
            <div class="life-insurance-label-name">保障期间：</div>
            <div class="life-insurance-label-message">终身</div>
        </div>
        <div class="life-insurance-equity-label"><div class="equity-label">
            <div class="equity-label-select"></div>
            <div class="equity-label-name">终身寿险</div>
        </div><div class="equity-label">
            <div class="equity-label-select"></div>
            <div class="equity-label-name">单次重病</div>
        </div><div class="equity-label">
            <div class="equity-label-select"></div>
            <div class="equity-label-name">多次轻症</div>
        </div><div class="equity-label">
            <div class="equity-label-select"></div>
            <div class="equity-label-name">投保豁免</div>
        </div><div class="equity-label">
            <div class="equity-label-select"></div>
            <div class="equity-label-name">被保豁免</div>
        </div><div class="equity-label">
            <div class="equity-label-select"></div>
            <div class="equity-label-name">重疾豁免</div>
        </div><div class="equity-label">
            <div class="equity-label-select"></div>
            <div class="equity-label-name">轻症豁免</div>
        </div>
        </div>
        <div class="life-insurance-look-pv">
            <div class="insurance-product-card-look-pv">
                <div class="insurance-product-card-pv">13241</div>
                <div class="insurance-product-card-eye"></div>
            </div>
        </div>
        <!--<div class="life=insurance-message">保险责任</div>-->
        <div class="product-insure-duty">
            <div class="insure-duty-title">
                <span>保险责任</span>
                <span class="pull-icon-big"></span>
            </div>
            <div class="insure-duty-content">
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>身故赔付已交保费</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>全残赔付已交保费</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>33种轻症疾病额外赔付保险金20%，最多5次</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>77种重疾赔付保险金</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>疾病终末期赔付已交保费</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>轻疾病豁免保费</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>投保人患77种重疾豁免后期保险费</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>投保人患33种轻疾豁免后期保险费</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>投保人身故豁免后期保险费</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
                <div class="insure-duty-item">
                    <div class="duty-item-title">
                        <span>投保人全残豁免后期保险费</span>
                        <span class="pull-icon-small"></span>
                    </div>
                    <div class="duty-item-content">
                        未满18周岁，因意外或者90天等待期后因非意外导致身故，给付1.5倍保费，或者90天等待期内因非意外导致身故，给付已交保费；
                        18周岁后，因意外或者90天等待期后因非意外导致身故，给付保额，或者90天等待期内因非意外导致身故，给付已交保费。
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>