<div id="top-title">
    <div id="top-title-left"></div>
    <div id="top-title-center">详细条款</div>
    <div id="top-title-right-1"></div>
    <!-- <div id="top-title-down">下载条款</div> -->
</div>
<div id="term-search" style="display: none;">
    <input id="term-search-text" type="text" placeholder="请输入搜索关键词"/>
    <div id="term-text-clear"></div>
    <div id="term-search-icon"></div>
</div>
<div id="clause-main">
</div>
<div class="clause-download">
<div class="clause-file">条款详情.pdf</div>
    <div id="clause-btn-download" class="clause-btn">下载</div>
</div>
