<div id="top-title">
    <div id="top-title-left"></div>
    <div id="top-title-center">添加附加险</div>
</div>
<div id="additional-main">
    <div class="additional-item" data-id="1">
        <div class="content">添加住院费用补偿医疗</div>
        <div class="btnAdd">添加</div>
    </div>
    <div class="additional-item" data-id="2">
        <div class="content">添加住院费用补偿医疗</div>
        <div class="btnAdd">添加</div>
    </div>
    <div class="additional-item" data-id="3">
        <div class="content">添加住院费用补偿医疗添加住院费用补偿医疗添加住院费用补偿医疗</div>
        <div class="btnAdd">添加</div>
    </div>
    <div class="additional-item" data-id="4">
        <div class="content">添加住院费用补偿医疗</div>
        <div class="btnAdd">添加</div>
    </div>
</div>
