#browseRecordsPage{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f5f5f5;

}
#browse-records-title{
  height: 84px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ccc;
}
#browse-records-title-left{
  float: left;
  background: url("../images/goBack.png") no-repeat 30px center;
  height: 84px;
  width: 130px;
}
#browse-records-title-center{
  float: left;
  height: 84px;
  width:  -webkit-calc(100% - 260px);
  text-align: center;
  color: #000;
  font-size: 3.4em;
  line-height: 84px;
}
#browse-records-title-right{
  float: right;
  background: url("../images/recycleBin.png") no-repeat right 30px center;
  height: 84px;
  width: 130px;
}
#browse-records-content{
  position: relative;
  height: -webkit-calc(100% - 84px);
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
#browse-records-noting{
  position: absolute;
  height: 100px;
  width: 100%;
  font-size: 3.4em;
  color: #666;
  text-align: center;
  line-height: 100px;
  top: -webkit-calc(50% - 50px);
}
.insurance-product-card{
  position: relative;
  width: -webkit-calc(100% - 28px);
  margin: 12px auto 0;
  border-radius: 4px;
  box-shadow: 0 5px 5px #eee;
  background:  no-repeat right top #fff;
  //background: url("../images/new.png");
}
.insurance-product-card-up{
  position: relative;
  width: 100%;
  height: 158px;
  padding-top: 40px;
  padding-left: 36px;
}
.insurance-product-card-name{
  font-size: 3.0em;
  color: #666;
}
.insurance-product-card-look-pv{
  position: absolute;
  bottom: 12px;
  right: 40px;
}
.insurance-product-card-eye{
  height: 28px;
  width: 48px;
  background: url("../images/pv.png") no-repeat left top;
  float: right;
  margin-right: 14px;
}
.insurance-product-card-pv{
  font-size: 3.0em;
  color: #e39b2a;
  float: right;
  margin-top: -4px;
}
.insurance-product-card-down{
  position: relative;
  //padding-top: 40px;
  //padding-left: 30px;
  //padding-right: 30px;
  //padding-bottom: 68px;
  padding: 40px 30px 68px;
  width: -webkit-calc(100% - 12px);
  border-top: 2px solid rgb(221, 221, 221);
  margin: 0 auto;
}
.equity-label{
  display: inline-block;
  width: 33.3333333333333%;
  margin-bottom: 30px;
//  float:left; //IOS有时保障概览列表 会一行一个，无浮动效果。
}
.equity-label-name{
  font-size: 2.6em;
  float: left;
  margin-top: 3px;
  margin-left: 20px;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
}
.equity-label-select{
  height: 35px;
  width: 35px;
  background: url("../images/redSelected.png") no-repeat left top;
  float: left;
}
.insurance-product-delete{
  position: absolute;
  height: 48px;
  width: 48px;
  right: 16px;
  bottom: 20px;
  background: url("../images/delete.png") no-repeat right top;
}