<div class="top-title">
    <div class="top-title-left"></div>
    <div class="top-title-center">我的客户</div>
</div>
<div class="personal-customer-search-container">
    <div class="personal-customer-search">
        <input placeholder="请输入姓名或手机号" class="customer-search-txt" type="text"/>
        <span class="customer-search-icon"></span>
    </div>
</div>
<div id="personal-customer-main">
</div>
<ul id="customer-filter">
    <li data-to="A">A</li>
    <li data-to="B">B</li>
    <li data-to="C">C</li>
    <li data-to="D">D</li>
    <li data-to="E">E</li>
    <li data-to="F">F</li>
    <li data-to="G">G</li>
    <li data-to="H">H</li>
    <li data-to="I">I</li>
    <li data-to="J">J</li>
    <li data-to="K">K</li>
    <li data-to="L">L</li>
    <li data-to="M">M</li>
    <li data-to="N">N</li>
    <li data-to="O">O</li>
    <li data-to="P">P</li>
    <li data-to="Q">Q</li>
    <li data-to="R">R</li>
    <li data-to="S">S</li>
    <li data-to="T">T</li>
    <li data-to="U">U</li>
    <li data-to="V">V</li>
    <li data-to="W">W</li>
    <li data-to="X">X</li>
    <li data-to="Y">Y</li>
    <li data-to="Z">Z</li>
    <li data-to="#">#</li>
</ul>