<div id="top-title">
    <div id="top-title-left"></div>
    <div id="top-title-center">详情说明</div>
   <!--  <div id="top-title-right-2"></div>
    <div id="top-title-right-1"></div> -->
</div>
<div id="details-description-content">
    <div id="details-description-name1"></div>
    <div id="details-description-name2">投核保规则</div>
    <div id="details-description-rule">
        <div class="details-description-rule-name1 details-description-rule-name-selected">该产品核保规则</div>
        <div class="details-description-rule-name2">一般核保规则</div>
        <div id="details-description-rule-content"></div>
    </div>
</div>

