#lifeInsurancePage{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
}

#insurance-search{
  position: relative;
  height: 100px;
  width: 100%;
  background: #fff;
  border-bottom: 2px solid #dddddd;
  padding: 15px 30px;
  >input{
    height: 70px;
    width: 100%;
    margin: 0 auto;
    font-size: 3.0em;
    color: rgb(162, 162, 162);
    border: 1px solid rgb(233, 233,233);
    border-radius: 10px;
    background-color: rgb(251, 249, 250);
    padding-left: 20px;
    padding-right: 80px;
  }
}
#search-icon{
  position: absolute;
  height: 70px;
  width: 80px;
  background: url("../images/searchIcon.png") no-repeat center;
  right: 30px;
  top: 15px;
}
#screening-conditions{
  width: 100%;
  height: 70px;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 5px 5px 0px rgba(238, 238, 238, 0.004);
}
.screening-condition{
  float: left;
  width: 33.33333333333333%;
  font-size: 2.6em;
  color: #000;
}
#search-default-sort, #search-insurance-company{
  border-right: 2px solid rgb(186, 186, 186);
}

.screening-condition-name{
  float: left;
  margin-left: calc(50% - 71px);
}
.search-arrow{
  float: left;
  width: 30px;
  height: 30px;
  background: url("../images/littleDownArrow.png") no-repeat center;
  margin-left: 8px;
}
#life-insurance-content{
  margin: 17px auto;
  width: calc(100% - 28px);
  border-radius: 4px;
  height: calc(100% - 255px);
  overflow-x:hidden;
  overflow-y: scroll;
  padding-bottom: 17px;
}
.life-insurance-card{
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 5px 0px rgba(238, 238, 238, 0.004);
  margin-bottom: 17px;
}
.life-insurance-name{
  width: 100%;
  height:110px;
  font-size: 3.0em;
  line-height: 110px;
  margin-bottom: 10px;
}
.life-insurance-flag{
  float: right;
  height: 68px;
  width: 68px;
}
.life-insurance-label-1{
  background: url("../images/recomment.png") no-repeat center;
}
.life-insurance-label-2{
  background: url("../images/hot.png") no-repeat center;
}
.life-insurance-label-3{
  background: url("../images/new.png") no-repeat center;
}
.life-insurance-name-title{
  width: calc(100% - 12px);
  border-bottom: 2px solid #dddddd;
  margin: 0 auto;
  padding-left: 30px;
}
.life-insurance-label{
  padding-top: 30px;
  padding-left: 36px;
}
.life-insurance-label-name{
  font-size: 3.0em;
  color: #666666;
  float: left;
}
.life-insurance-label-message{
  font-size: 3.0em;
  color: #a2a2a2;
}
.life-insurance-equity-label{
  padding: 30px 36px;
}
.life-insurance-look-pv{
  position: relative;
  height: 42px;
  width: calc(100% - 12px);
  border-bottom: 2px solid #dddddd;
}

#default-sort-layout-float, #insurance-company-float{
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 100;
}

.default-sort-content{
  background: #fff;
  padding-left: 6px;
  padding-right: 6px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.default-sort-item{
  height: 80px;
  width: 100%;
  background: #fff;
  border-bottom: 2px solid #ddd;
  font-size: 3.0em;
  color: #000;
  line-height: 80px;
  text-align: center;
}
.default-sort-item-selected{
  color: #e6454a;
}

