<div id="top-title" <%=paddingTop %>>
    <div id="top-title-left"></div>
    <div id="top-title-center"><%=title%></div>
    <!-- <div id="top-title-right-2"></div>
    <div id="top-title-right-1"></div> -->
</div>
<div id="companyIntro-main" <%=conHeight %>>
    <%=detailContent%>
</div>
<!--<a href="tel:18516221508" style="font-size: 35px;    margin-bottom: 20px; color: red; line-height: 35px; display: inline-block;">拨打18516221508</a>-->
<a href=<%=companyPhone%>><div id="btnCall">拨打客服电话</div></a>
