<!-- <iframe src="http://www.agoodme.com/156bba7e7a2af9b6/shareme.html?tid=156bba7e7a2af9b6&dataFrom=pc2-0" frameborder="0" id="iframeDiv"></iframe> -->

<div id="pageswitch-content">
	<div class="pageswitch-page-item">
		<img  src="./images/pageSwitchImage/common/0.png"/>
		<img id="pageswitch-image00" src="./images/pageSwitchImage/common/00.gif"/>
		<img id="pageswitch-image01" src="./images/pageSwitchImage/common/01.png"/>
		<img id="pageswitch-image02" src="./images/pageSwitchImage/common/02.png"/>
		<img id="pageswitch-image03" src="./images/pageSwitchImage/common/03.png"/>
	</div>
	<div class="pageswitch-page-item">
		<img src="./images/pageSwitchImage/common/1.png"/>
	</div>
	<div class="pageswitch-page-item" id="base-image-1">
		<img src="./images/pageSwitchImage/base/2.png"/>
	</div>
	<div class="pageswitch-page-item" id="base-image-2">
		<img src="./images/pageSwitchImage/base/3.png"/>
	</div>
	<div class="pageswitch-page-item" id="middle-image-1">
		<img src="./images/pageSwitchImage/middle/2.png"/>
	</div>
	<div class="pageswitch-page-item" id="middle-image-2">
		<img src="./images/pageSwitchImage/middle/3.png"/>
	</div>
	<div class="pageswitch-page-item" id="advanced-image-1">
		<img src="./images/pageSwitchImage/advanced/2.png"/>
	</div>
	<div class="pageswitch-page-item" id="advanced-image-2">
		<img src="./images/pageSwitchImage/advanced/3.png"/>
	</div>
	<div class="pageswitch-page-item">
		<img src="./images/pageSwitchImage/common/4.png"/>
	</div>
	<div class="pageswitch-page-item">
		<img src="./images/pageSwitchImage/common/5.png"/>
	</div>
</div>
<div id="page-name">
	<div style="position: absolute; z-index: 2; width: 26px; height: 64px; right: 0px; bottom: 0px; font-size: 20px; text-align: center; color: rgb(0, 0, 0); column-count: 1; background: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAYAAACXU8ZrAAAAKUlEQVQImWN8JGv0n4EAYGJgYGAkoIaRCcbApQBmEgMOhXA+Ew4JFA0AlasCQnZiwRYAAAAASUVORK5CYII=&quot;) center bottom no-repeat;">
		<div id="cur-page-num">1</div>
		<div id="page-num-line" style="line-height: 0; margin: 2px auto;">—</div>
		<div id="all-page-num">10</div>
	</div>

</div>