<!-- <iframe src="http://www.agoodme.com/156bba7e7a2af9b6/shareme.html?tid=156bba7e7a2af9b6&dataFrom=pc2-0" frameborder="0" id="iframeDiv"></iframe> -->

<div id="pageswitch-content">
	<div class="pageswitch-page-item">
		<img  src="./images/pageSwitchImage/common/0.png"/>
		<img id="pageswitch-image00" src="./images/pageSwitchImage/common/00.gif"/>
		<img id="pageswitch-image01" src="./images/pageSwitchImage/common/01.png"/>
		<img id="pageswitch-image02" src="./images/pageSwitchImage/common/02.png"/>
		<img id="pageswitch-image03" src="./images/pageSwitchImage/common/03.png"/>
	</div>
	<div class="pageswitch-page-item">
		<img src="./images/pageSwitchImage/common/1.png"/>
	</div>
	<div class="pageswitch-page-item">
		<img src="./images/pageSwitchImage/base/2.png"/>
	</div>
	<div class="pageswitch-page-item">
		<img src="./images/pageSwitchImage/base/3.png"/>
	</div>
	<div class="pageswitch-page-item">
		<img src="./images/pageSwitchImage/common/4.png"/>
	</div>
	<div class="pageswitch-page-item">
		<img src="./images/pageSwitchImage/common/5.png"/>
	</div>
</div>