<div class="plan-obligation-item">
    <div class="obligation-item-title">身故</div>
    <div class="info-div-item">
        <div class="info-div">
            <div class="item-title">身故保险金</div>
            <div class="item-right">100万</div>
            <div class="clear"></div>
        </div>
        <div class="info-btn-div">
            <div class="item-title">健康人生：身故赔付已交保费</div>
            <div class="item-right-btn"></div>
            <div class="item-right">100万</div>
            <div class="clear"></div>
        </div>
        <div class="info-desc">我是描述中华人民共和国中华人民共和国中华人民共和国</div>
    </div>
    <div class="info-div-item">
        <div class="info-div">
            <div class="item-title">身故保险金</div>
            <div class="item-right">100万</div>
            <div class="clear"></div>
        </div>
        <div class="info-btn-div">
            <div class="item-title">健康人生：身故赔付已交保费</div>
            <div class="item-right-btn"></div>
            <div class="item-right">100万</div>
            <div class="clear"></div>
        </div>
        <div class="info-desc">我是描述中华人民共和国中华人民共和国中华人民共和国</div>
    </div>
</div>
<div class="plan-obligation-item-line"></div>