<div id="company-menu-con">
    <div id="company-menu">
        <div class="menu-item menu-item-ck" data-index="0">服务商</div>
        <div class="menu-item" data-index="1">承保商</div>
    </div>
</div>
<div id="plan-company-logo">
    <img src="images/logo01.png" alt="">
</div>
<div id="plan-company-content">
    <div class="service-provider-content">
        <p>大童旗下有大童保险销售服务有限公司、北京大童保险经纪。有限公司等企业， 其中大童保险销售服务有限公司是经中国保。</p>
        <p>大童旗下有大童保险销售服务有限公司、北京大童保险经纪。有限公司等企业， 其中大童保险销售服务有限公司是经中国保。</p>
        <p>大童旗下有大童保险销售服务有限公司、北京大童保险经纪。有限公司等企业， 其中大童保险销售服务有限公司是经中国保。</p>
        <p>大童旗下有大童保险销售服务有限公司、北京大童保险经纪。有限公司等企业， 其中大童保险销售服务有限公司是经中国保。</p>
        <p>大童旗下有大童保险销售服务有限公司、北京大童保险经纪。有限公司等企业， 其中大童保险销售服务有限公司是经中国保。</p>
        <p>大童旗下有大童保险销售服务有限公司、北京大童保险经纪。有限公司等企业， 其中大童保险销售服务有限公司是经中国保。</p>
        <img src="images/temp/icon01.jpg" alt="" style="display:block; margin:0 auto;">
    </div>
    <div class="underwriter-content content-ck">
        <div class="line"></div>
        <div class="intro">
            <p>长城人寿保险股份有限公司（以下简称）“长城人寿”是一家经中国保险监管管理委员会批准设立的全国性人寿保险公司。以“打造服务最好的保险品牌”为目标，倡导“让服务成功我们的生活方式”，致力于客户提供适合的保险产品和便捷服务，为员工提供良好的工作环境和成长空间。</p>
            <p>成立时间：2005年8月30日</p>
            <p>成立时间：2005年8月30日</p>
            <p>成立时间：2005年8月30日</p>
            <p>成立时间：2005年8月30日</p>
        </div>
        <div class="vip-increment-content vip-content">
            <div class="title">VIP增值服务内容</div>
            <div class="vip-increment-content-main">
                <img src="images/temp/icon02.png" alt="" style="display:block; margin:0 auto;">
            </div>
        </div>
        <div class="vip-increment-standard vip-content">
            <div class="title">VIP增值服务标准</div>
            <div class="vip-increment-content-main">
                <img src="images/temp/icon02.png" alt="" style="display:block; margin:0 auto;">
            </div>
        </div>
    </div>
</div>