<div class="plan-book-banner">
    <div class="plan-book-company"></div>
    <div class="plan-book-title"></div>
</div>
<div class="plan-book-date">
    <div class="payment"><span>交费期限</span><span class="payment-date redColor"></span></div>
    <div class="guarantee"><span>保障期限</span><span class="guarantee-date redColor"></span></div>
    <div class="coverage-total"><span>保额</span><span class="coverage-total-txt redColor">0元</span></div>
    <div class="coverage-first"><span>首年保费</span><span class="coverage-first-txt redColor">0元</span></div>
    <div class="sexAndAge"><span class="sex-txt"></span><span class="age-txt"></span></div>
</div>
<div class="plan-book-type">
    <div id="calcResultTable"></div>
    <div class="type-button"></div>
</div>
<div class="plan-book-product">
    <div class="div-title">产品特色</div>
    <div id="featureImgList">
        <!--插入产品特色 -->
    </div>
</div>
<div class="plan-guarantee-div">
    <div class="div-title">保障概览</div>
    <div class="guarantee-list">
        <!--插入保障概览 -->
    </div>
</div>

<div class="plan-obligation">
    <div class="plan-obligation-title">
        <div class="div-title">保险责任</div>
        <div class="btn-clause">条款</div>
        <div class="btn-icon"></div>
    </div>

    <div class="plan-obligation-list">
        <div class="plan-obligation-item">
            <div class="obligation-item-title">身故</div>
            <div class="info-div">
                <div class="item-title">身故保险金</div>
                <div class="item-right">100万</div>
                <div class="clear"></div>
            </div>
            <div class="info-btn-div">
                <div class="item-title">健康人生：身故赔付已交保费</div>
                <div class="item-right-btn"></div>
                <div class="item-right">100万</div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="plan-obligation-item-line"></div>

        <div class="plan-obligation-item">
            <div class="obligation-item-title">残疾</div>
            <div class="info-div">
                <div class="item-title">全残保险金</div>
                <div class="item-right">100万</div>
                <div class="clear"></div>
            </div>
            <div class="info-btn-div">
                <div class="item-title">健康人生：全残赔付已交保费</div>
                <div class="item-right-btn"></div>
                <div class="item-right">100万</div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="plan-obligation-item-line"></div>

        <div class="plan-obligation-item">
            <div class="obligation-item-title">健康</div>

            <div class="obligation-item-content">
                <div class="info-div">
                    <div class="item-title">重疾保险金</div>
                    <div class="item-right">100万</div>
                    <div class="clear"></div>
                </div>
                <div class="info-btn-div">
                    <div class="item-title">健康人生：77种重疾赔付保险金</div>
                    <div class="item-right-btn"></div>
                    <div class="item-right">100万</div>
                    <div class="ill-icon"></div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div class="plan-obligation-item">
            <div class="obligation-item-title">残疾</div>
            <div class="info-div">
                <div class="item-title">全残保险金</div>
                <div class="item-right">100万</div>
                <div class="clear"></div>
            </div>
            <div class="info-btn-div">
                <div class="item-title">全残保险金</div>
                <div class="item-right-btn"></div>
                <div class="item-right">100万</div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>


<div class="plan-demo">
    <div class="div-title">动态演示</div>
    <div class="demo-age-div">
        <span>当被保人在</span>
        <select class="demo-age-select">
            <option value="28">28</option>
        </select>
        <span>岁</span>
    </div>
    <div class="demo-list">
        <div class="demo-list-item">
            <div class="demo-list-item-txt">身故保险金</div>
            <div class="demo-list-item-money">100万</div>
        </div>
        <div class="demo-list-item">
            <div class="demo-list-item-txt">身故保险金</div>
            <div class="demo-list-item-money">100万</div>
        </div>
        <div class="demo-list-item">
            <div class="demo-list-item-txt">身故保险金</div>
            <div class="demo-list-item-money">100万</div>
        </div>
        <div class="demo-list-item">
            <div class="demo-list-item-txt">身故保险金</div>
            <div class="demo-list-item-money">100万</div>
        </div>
        <div class="demo-list-item">
            <div class="demo-list-item-txt">身故保险金</div>
            <div class="demo-list-item-money">100万</div>
        </div>
        <div class="demo-list-item">
            <div class="demo-list-item-txt">身故保险金</div>
            <div class="demo-list-item-money">100万</div>
        </div>
        <div class="demo-list-item">
            <div class="demo-list-item-txt">身故保险金</div>
            <div class="demo-list-item-money">100万</div>
        </div>
    </div>
    <div class="demo-first-title">第1保单年度</div>
    <div class="demo-change-age-div">
        <div class="input-range-div">
            <div class="btn-range-reduce"></div>
            <input class="input-range" type="range" step="1" min="0" max="100" value="0" />
            <div class="btn-range-add"></div>
        </div>
        <div class="demo-range-tip">拖动按钮可查看不同年龄的保单利益</div>
    </div>
    <div class="demo-tip">
        温馨提示：以上演示说明本平台对上述产品的理解，便于保险从业人员的学习、交流，演示数据仅供参考，实际利益以保险合同规定为准。
    </div>
</div>

<div class="plan-added-service">
    <div class="div-title">增值服务</div>
    <div class="added-service-list">
            <!--插入增值服务-->
    </div>
</div>

<div class="plan-message">
    <div class="div-title">留言</div>
    <div class="plan-message-txt">白领人士必备的一款产品</div>
    <div class="plan-message-contact">
        <div class="contact-name">王小明</div>
        <div class="contact-phone">13813801380</div>
    </div>
</div>


