<div>我是寿险列表</div>
<div id="btnOpenPlan" style="font-size: 30px; color:white; padding:20px; background: blue; border-radius: 10px;">点击打开寿险计划书</div>
<div id="btnOpenBrowseRecords" style="font-size: 30px; color:white; padding:20px; background: green; border-radius: 10px;">点击打开浏览记录</div>
<div id="btnOpenAdditional" style="font-size: 30px; color:white; padding:20px; background: blue; border-radius: 10px;">点击打开添加附加险</div>
<div id="btnOpenDisease" style="font-size: 30px; color:white; padding:20px; background: green; border-radius: 10px;">点击打开病种详情</div>
<div id="btnOpenClause" style="font-size: 30px; color:white; padding:20px; background: blue; border-radius: 10px;">点击打开条款</div>
<div id="btnOpenDetailsDescription" style="font-size: 30px; color:white; padding:20px; background: green; border-radius: 10px;">点击打开详情说明</div>
<div id="btnOpenProductDetails" style="font-size: 30px; color:white; padding:20px; background: blue; border-radius: 10px;">点击打开产品详情</div>